.row
  .small-12.medium-8.columns
    #filterrific_results
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Full Name
            %th Address
            %th Email
            %th Created at
            %th Show 
            %th Edit 
            %th Delete 

        %tbody
          - users.each do |user|
            %tr
              %td= user.full_name
              %td= user.address
              %td= user.email
              %td= user.decorated_created_at
              %td= link_to 'Show', user
              %td= link_to 'Edit', edit_user_path(user)
              %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
.row
  .small-12.columns
    = link_to 'New User', new_user_path, class: 'button success'
= will_paginate @users , renderer: BootstrapPagination::Rails
