<div class="row">
  <div class="small-12 medium-6 columns">
    <p class="callout success"><%= notice %></p>

    <div class="card">
      <div class="card-divider">
        <h4>User Details</h4>
      </div>
      <div class="card-section">
        <p><strong>First name:</strong> <%= @user.first_name %></p>

        <p><strong>Last name:</strong> <%= @user.last_name %></p>

        <p><strong>Address:</strong> <%= @user.address %></p>

        <p><strong>Email:</strong> <%= @user.email %></p>
      </div>
    </div>

    <div class="button-group">
      <%= link_to 'Edit', edit_user_path(@user), class: 'button' %>
      <%= link_to 'Back', users_path, class: 'button secondary' %>
    </div>
  </div>
</div>
